<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCWInM5wvAXB8YE2vGKMOHt2YCMg6_GDyU&amp;sensor=false"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Google Maps API v3: Busca de endereço e Autocomplete - Demo</title>

    </head>
    
    <body>

        <div id="apresentacao">

           <form method="post" action="" id="">   
    <fieldset>
        <legend>Google Maps</legend>   
 
        <div>
            <label for="txtEndereco">Endereço:</label>
            <input type="text" id="txtEndereco" name="txtEndereco" />
        </div>
        <div>
            <input type="button" id="btnEndereco" name="btnEndereco" value="Mostrar no mapa" />
        </div>
 
        <div id="mapa" style="height: 500px; width: 1000px">
        </div>
 
        <div>
            <input type="submit" value="Enviar" name="btnEnviar" />
        </div>
 
        <input type="hidden" id="txtLatitude" name="txtLatitude" />
        <input type="hidden" id="txtLongitude" name="txtLongitude" />
    </fieldset>
</form>
            </form>
        </div>
    
    </body>
</html>